{% extends "AppBundle::frontend.html.twig" %}

{% block body %}

    <section class="content">
        <div class="box box-solid">
            <div class="box-header">
                <h1 class="box-title">
                    {{ 'user.register'|trans|capitalize }}
                </h1>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body">
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
