{% extends "FlowcodeUserBundle:Email:layout.html.twig" %}
{% block body %}
    <table class="container" >
        <tr>
            <td>
                <table class="row">
                    <tr>
                        <td class="wrapper last"></td>
                    </tr>
                </table>
                <table align="center">
                    <tr>
                        <td>
                            <h1>Hola, {{ user.username }}</h1>
                        </td>
                    </tr>
                </table>
                <table class="nine columns">
                    <tr>
                        <td>
                            <p>Has solicitado el recupero de contraseña.</p>
                            <p>Para recuperarla ingresá al siguiente link:<br> 
                                <a href='{{activateAccountLink}}'>{{activateAccountLink}}</a>
                            </p>
                            <p>En caso de no haber hecho la solicitud, no tengas en cuenta este.</p>

                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
                <table class="row callout">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
